.container {
    position: relative;
    text-align: center;
    color: white;
    object-fit: contain;
    max-width: 370px;
    max-height: 370px;
    width: 100%;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  .img{
      width:100%;
      height: auto;
  }